.navigation {
  padding: 0 8px;
  display: flex;
  height: 82px;
  align-items: center;
  justify-content: space-between;

}

.navigation ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
  font-weight: 500;
}

.navigation img {
  height: 60px;
  border: 2px solid rgb(3, 192, 244);
  border-radius: 50%;
  background: black;
  
}