.primary_btn {
  padding: 10px 8px;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 220px;
  font-size: 14px;
  justify-content: center;
  cursor: pointer;
}

.outline_btn {
  padding: 10px 8px;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 220px;
  font-size: 14px;
  justify-content: center;
  background-color: white;
  width: 100%;
  cursor: pointer;
}
